<p-confirmDialog />

<p-breadcrumb
    [model]="[
        { label: ('breadcrumbs.securitySystems' | translate), routerLink: '/' },
        { label: ('breadcrumbs.generalAdministration' | translate), routerLink: '/' },
        { label: listTitle },
    ]"
/>

<main-content>
    <list-header
        addNewRecordLabel="{{ 'location.addNewLocation' | translate }}"
        [tableTitle]="listTitle"
        [paginationInfo]="paginationInfo"
        [pageNumber]="criteria.pageNumber"
        [pageSize]="criteria.pageSize"
        [totalCount]="criteria.totalCount ?? 0"
        [showMapsButton]="!isRiskLocationList"
        [showAddNewRecordButton]="!isRiskLocationList"
        [filtersList]="filtersList"
        (search)="onSearch($event)"
        (clickMaps)="showMapsView = !showMapsView"
        (addNewRecord)="openCreateDialog()"
        (pageChange)="onPageChange($event)"
        (filterChange)="filterChange($event)"
    >
        @if (showMapsView) {
            <app-saudi-map [searchTerm]="searchTerm" />
        } @else {
            <ng-datatable
                [rows]="rows"
                [columns]="cols"
                [sortable]="false"
                [loading]="isLoading"
                [pagination]="true"
                [pageSize]="criteria.pageSize"
                noDataContent="{{ 'common.noDataOnList' | translate }}"
            >
                <ng-template slot="actions" let-value="data">
                    <div class="flex gap-2">
                        <div
                            (click)="createFieldSurvey(value)"
                            class="cursor-pointer relative"
                            title="إنشاء مسح"
                        >
                            <img src="assets/images/icons/field-survey-sidebar.svg" alt="" />
                        </div>
                        <div (click)="openEditDialog(value.id)" class="cursor-pointer">
                            <i class="pi pi-pencil"></i>
                        </div>
                        <div
                            (click)="removeLocation(value.id, value.nameAr)"
                            class="cursor-pointer"
                        >
                            <i class="pi pi-trash"></i>
                        </div>
                    </div>
                </ng-template>
                <ng-template slot="riskActions" let-value="data">
                    <div class="flex gap-2">
                        <div
                            (click)="router.navigate(['/location-risk/list', value.id])"
                            class="cursor-pointer"
                            [title]="'location.editLocationRegister' | translate"
                        >
                            <i class="pi pi-pencil text-primary"></i>
                        </div>
                    </div>
                </ng-template>
                <ng-template slot="locationClassification" let-value="data">
                    <p-tag
                        [value]="'التصنيف'"
                        [style.backgroundColor]="value.locationClassificationColor"
                        [style.color]="'#ffffff'"
                    />
                </ng-template>
            </ng-datatable>
        }
    </list-header>
</main-content>
