<p-confirmDialog />

<p-breadcrumb
    [model]="[
        { label: ('breadcrumbs.securitySystems' | translate), routerLink: '/' },
        { label: ('breadcrumbs.generalAdministration' | translate), routerLink: '/' },
        { label: ('breadcrumbs.locations' | translate) },
    ]"
/>

<main-content>
    <list-header
        addNewRecordLabel="{{ 'location.addNewLocation' | translate }}"
        tableTitle="{{ 'location.locationList' | translate }}"
        [showFilterButton]="true"
        [paginationInfo]="paginationInfo"
        [pageNumber]="criteria.pageNumber"
        [pageSize]="criteria.pageSize"
        [totalCount]="criteria.totalCount ?? 0"
        [showMapsButton]="true"
        [filterConfigs]="[
            {
                propertyName: 'nameAr',
                filterType: 'text',
                isSingle: true,
                placeholder: ('formLabels.name' | translate),
            },
            {
                propertyName: 'code',
                filterType: 'text',
                isSingle: true,
                placeholder: ('formLabels.locationCode' | translate),
            },
            {
                propertyName: 'weaponsWarehouse',
                filterType: 'checkbox',
                isSingle: true,
                label: 'يوجد مستودع أسلحة',
            },
        ]"
        (search)="onSearch($event)"
        (clickMaps)="showMapsView = !showMapsView"
        (addNewRecord)="openCreateDialog()"
        (pageChange)="onPageChange($event)"
        (filterChange)="filterChange($event)"
    >
        @if (showMapsView) {
            <app-saudi-map [searchTerm]="searchTerm" />
        } @else {
            <ng-datatable
                [rows]="rows"
                [columns]="cols"
                [sortable]="false"
                [loading]="isLoading"
                [pagination]="true"
                [pageSize]="criteria.pageSize"
                noDataContent="{{ 'common.noDataOnList' | translate }}"
            >
                <ng-template slot="actions" let-value="data">
                    <div class="flex gap-2">
                        <div
                            (click)="createFieldSurvey(value)"
                            class="cursor-pointer relative"
                            title="إنشاء مسح"
                        >
                            <img src="assets/images/icons/field-survey-sidebar.svg" alt="" />
                        </div>
                        <div (click)="openEditDialog(value.id)" class="cursor-pointer">
                            <i class="pi pi-pencil"></i>
                        </div>
                        <div
                            (click)="removeLocation(value.id, value.nameAr)"
                            class="cursor-pointer"
                        >
                            <i class="pi pi-trash"></i>
                        </div>
                    </div>
                </ng-template>
            </ng-datatable>
        }
    </list-header>
</main-content>
