<div  [dir]="isArabic ? 'rtl' : 'ltr'">
    <div class="absolute inset-0">
        <img src="../../../../../assets/images/nafad-login-bg.png" alt="image" class="h-full w-full object-cover" />
    </div>
    <div class="relative flex min-h-screen items-center justify-center px-6 py-10 dark:bg-[#060818] sm:px-16">
        <div class="relative w-full max-w-[570px] rounded-md">
            <div class="relative flex flex-col justify-center rounded-md bg-white px-6 py-20 dark:bg-black/50 lg:min-h-[500px]">
                <div class="absolute start-6 rtl:end-6 top-6">
                    <a routerLink="/auth/login" class="text-gold text-base leading-7 flex items-center gap-2">
                        <svg class="ltr:rotate-180" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M20.854 11.0001C20.854 16.4424 16.4421 20.8542 10.9998 20.8542C5.55753 20.8542 1.14567 16.4424 1.14567 11.0001C1.14567 5.55777 5.55753 1.14591 10.9998 1.14592C16.4421 1.14592 20.854 5.55777 20.854 11.0001ZM10.9998 19.4792C15.6828 19.4792 19.479 15.683 19.479 11.0001C19.479 6.31716 15.6828 2.52092 10.9998 2.52092C6.31692 2.52091 2.52067 6.31716 2.52067 11.0001C2.52067 15.683 6.31692 19.4792 10.9998 19.4792Z"
                                fill="#D0B45B"
                            />
                            <path
                                d="M9.1387 15.6112C8.87022 15.3427 8.87022 14.9074 9.1387 14.6389L12.7776 11.0001L9.1387 7.36122C8.87022 7.09273 8.87022 6.65743 9.1387 6.38895C9.40719 6.12046 9.84249 6.12046 10.111 6.38895L14.236 10.5139C14.5045 10.7824 14.5045 11.2177 14.236 11.4862L10.111 15.6112C9.84249 15.8797 9.40719 15.8797 9.1387 15.6112Z"
                                fill="#D0B45B"
                            />
                        </svg>
                        {{ 'auth.nafath.loginScreen.back' | translate }}</a>
                </div>
                <div class="mx-auto w-full max-w-[440px]">
                    <div class="mb-10 flex flex-col items-center gap-7">
                        <div class="flex size-28 items-end justify-center overflow-hidden rounded-full">
                            <img src="../../../../../assets/images/logo 2.png" class="w-full object-cover" alt="images" />
                        </div>
                        <div class="flex-1 text-center">
                            <h4 class="text-2xl dark:text-white">{{ 'auth.forgotPassword.restPassword' | translate }}</h4>
                        </div>
                    </div>
                    <form class="space-y-5" [formGroup]="forgotPasswordForm" (submit)="submit()">
                        <div>
                            <input
                                id="nationalId"
                                type="text"
                                formControlName="nationalId"
                                class="mt-1 block w-full px-3 py-2 border rounded-md shadow-sm focus:outline-secondary focus:border-secondary font-ibmPlexSansArabic"
                                [placeholder]="'auth.login.input.username' | translate"
                            />
                            <div *ngIf="nationalId?.invalid && (nationalId?.dirty || nationalId?.touched)" class="text-red-500 text-sm mt-1">
                                <span *ngIf="nationalId?.errors?.['required']">
                                    {{ 'auth.login.error.required' | translate }}
                                </span>
                                <span *ngIf="nationalId?.errors?.['saudiNationalIdNumber']">
                                    {{ 'auth.login.error.invalidNationalId' | translate }}
                                </span>
                            </div>
                            <div *ngIf="hasError" class="text-red-500 text-sm mt-1">
                                <span> {{messageError | translate}} </span>
                            </div>
                        </div>
                        <p class="mt-3 text-sm/6 leading-4 text-gold">{{ "auth.forgotPassword.message" | translate }}</p>
                        <button type="submit" [disabled]="forgotPasswordForm.invalid || isLoading" class="btn btn-secondary border-0 !shadow-none !mt-6 w-full">{{ 'auth.forgotPassword.button' | translate }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="flex justify-end items-center absolute top-4 left-4 right-4 z-10  ">
        <button (click)="toggleLanguage()" class="text-sm text-white hover:underline font-ibmPlexSansArabic">
            {{ isArabic ? 'English' : 'عربي' }}
        </button>
    </div>
</div>
