<div class="h-screen flex" [dir]="isArabic ? 'rtl' : 'ltr'">
    <!-- Right side: Forgot Password Form -->
    <!-- return to login page -->

    <div class="w-full flex items-center justify-center p-8 py-2">
        <div
            class="max-w-md w-full space-y-6 bg-white/80 backdrop-blur-xs p-6 rounded-xl shadow-lg"
        >
            <a
                class="flex items-center gap-2 mb-4 cursor-pointer hover:text-warning font-ibmPlexSansArabic"
                routerLink="/auth/login"
            >
                <i class="pi pi-angle-right"></i> {{ 'auth.login' | translate }}
            </a>
            <div class="flex justify-center">
                <img
                    src="assets/images/logo.png"
                    alt="Logo"
                    style="height: 111px; width: 109px"
                />
            </div>

            <div class="flex justify-center">
                <h2
                    class="text-3xl font-extrabold text-center text-gray-900 font-ibmPlexSansArabic"
                >
                    {{ 'auth.forgetPassword' | translate }}
                </h2>
            </div>

            <form
                [formGroup]="forgotPasswordForm"
                (ngSubmit)="submit()"
                class="space-y-4"
            >
                <!-- National ID Input -->
                <div>
                    <input
                        id="nationalId"
                        type="text"
                        formControlName="nationalId"
                        class="mt-1 block w-full px-3 py-2 border rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 font-ibmPlexSansArabic"
                        [placeholder]="'auth.username' | translate"
                    />
                    <div
                        *ngIf="
                            forgotPasswordForm.get('nationalId')?.invalid &&
                            (forgotPasswordForm.get('nationalId')?.dirty ||
                                forgotPasswordForm.get('nationalId')?.touched)
                        "
                        class="text-red-500 text-sm mt-1"
                    >
                        <span
                            *ngIf="
                                forgotPasswordForm.get('nationalId')?.errors?.[
                                    'required'
                                ]
                            "
                        >
                            {{ 'common.required' | translate }}
                        </span>
                    </div>
                    <div *ngIf="hasError" class="text-red-500 text-sm mt-1">
                        <span>{{ messageError | translate }}</span>
                    </div>
                </div>

                <button
                    [disabled]="forgotPasswordForm.invalid || isLoading"
                    type="submit"
                    class="w-full bg-primary hover:bg-secondary text-white font-medium py-2 px-4 rounded-md shadow-sm font-ibmPlexSansArabic flex justify-center items-center"
                >
                    <ng-container *ngIf="!isLoading">
                        {{ 'auth.getforgotPassword' | translate }}
                    </ng-container>
                    <ng-container *ngIf="isLoading">
                        <span class="mx-2">{{
                            'auth.getforgotPassword' | translate
                        }}</span>
                        <svg
                            class="animate-spin h-5 w-5 text-primary"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                        >
                            <circle
                                class="opacity-25"
                                cx="12"
                                cy="12"
                                r="10"
                                stroke="currentColor"
                                stroke-width="4"
                            ></circle>
                            <path
                                class="opacity-75"
                                fill="currentColor"
                                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4z"
                            ></path>
                        </svg>
                    </ng-container>
                </button>
            </form>
        </div>
    </div>

    <div
        class="flex justify-end items-center absolute top-4 left-4 right-4 z-10"
    >
        <button
            (click)="toggleLanguage()"
            class="text-sm text-gray-700 hover:underline font-ibmPlexSansArabic"
        >
            {{ isArabic ? 'English' : 'عربي' }}
        </button>
    </div>
</div>
