<p-dialog
    [(visible)]="visible"
    [header]="'users.details' | translate"
    [modal]="true"
    [style]="{ width: '40vw' }"
    [breakpoints]="{ '960px': '60vw', '640px': '90vw' }"
    (onHide)="closeDialog()"
>
    <div class="space-y-6">
        <table class="w-full text-sm text-gray-700">
            <tbody class="bg-white divide-y">
                <tr>
                    <th class="px-4 py-3 w-1/3 text-right font-semibold">{{ Name | translate }}</th>
                    <td class="px-4 py-3 text-left">{{ userDetails?.fullName }}</td>
                </tr>
                <tr>
                    <th class="px-4 py-3 text-right font-semibold">{{ IDs | translate }}</th>
                    <td class="px-4 py-3 text-left">{{ userDetails?.identityNumber }}</td>
                </tr>
                <tr>
                    <th class="px-4 py-3 text-right font-semibold">{{ JobItle | translate }}</th>
                    <td class="px-4 py-3 text-left">{{ userDetails?.jobName }}</td>
                </tr>
                <tr>
                    <th class="px-4 py-3 text-right font-semibold">{{ Rank | translate }}</th>
                    <td class="px-4 py-3 text-left">{{ userDetails?.rankName }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</p-dialog>
