<!-- Top Menu Bar -->
<div class="bg-primary text-white px-8 py-1">
    <div class="flex justify-between items-center gap-4 text-white">
        <!-- Right Menu (now on right in RTL) -->
        <div class="flex gap-4">
            <span class="flex items-center gap-2">
                <i class="pi pi-calendar"></i>
                <span>9 ديسمبر 2025</span>
            </span>
            <span class="flex items-center gap-2">
                <i class="pi pi-clock"></i>
                <span>09:00</span>
            </span>
            <span class="flex items-center gap-2">
                <i class="pi pi-map-marker"></i>
                <span>الرياض</span>
            </span>
        </div>
    </div>
</div>
<div class="bg-white border-b border-gray-200 px-8">
    <div class="flex justify-between items-center gap-4 h-full">
        <a class="flex gap-4 h-full" routerLink="/">
            <img src="assets/images/logo.png" alt="Logo" class="h-10" />
        </a>

        <div class="flex gap-4 h-full">
            <div
                class="hover:bg-primary hover:text-white cursor-pointer flex items-center gap-1 px-2 py-4 rounded"
            >
                <i class="pi pi-search"></i>
                <span>بحث</span>
            </div>
            <div
                class="flex items-center hover:bg-primary hover:text-white cursor-pointer flex items-center gap-1 px-2 py-4 rounded"
            >
                <i class="pi pi-cog"></i>
                <span>الإعدادات</span>
            </div>
            <div
                class="flex items-center hover:bg-primary hover:text-white cursor-pointer flex items-center gap-1 px-2 py-4 rounded"
            >
                <i class="pi pi-language"></i>
                <span (click)="toggleLanguage()">
                    {{ isArabeMode() ? 'عربي' : 'English' }}
                </span>
            </div>
        </div>
    </div>
</div>
<mui-breadcrumb *ngIf="hasBreadcrumb" />
