<p-breadcrumb
    [model]="[
        { label: ('breadcrumbs.securitySystems' | translate), routerLink: '/' },
        { label: ('breadcrumbs.performanceEvaluationAndDevelopmentDivision' | translate) },
        { label: ('breadcrumbs.operationalPlan' | translate) },
        { label: ('breadcrumbs.operationalPlanSettings' | translate) },
        { label: ('breadcrumbs.typesOfSecurityCheckpoints' | translate) },
    ]"
/>

<main-content>
    <list-header
        addNewRecordLabel="{{ 'typesOfSecurityCheckpoints.addNew' | translate }}"
        tableTitle="{{ 'typesOfSecurityCheckpoints.list' | translate }}"
        [paginationInfo]="paginationInfo"
        [pageNumber]="criteria.pageNumber"
        [pageSize]="criteria.pageSize"
        [totalCount]="criteria.totalCount ?? 0"
        (search)="onSearch($event)"
        (addNewRecord)="openCreateDialog()"
        (pageChange)="onPageChange($event)"
    >
        <ng-datatable
            [rows]="rows"
            [columns]="cols"
            [sortable]="false"
            [loading]="isLoading"
            [pagination]="true"
            [pageSize]="criteria.pageSize"
            noDataContent="{{ 'common.noDataOnList' | translate }}"
        >
            <ng-template slot="actions" let-value="data">
                <div class="flex gap-2">
                    <div (click)="openEditDialog(value.id)" class="cursor-pointer">
                        <i class="pi pi-pencil"></i>
                    </div>
                    <div (click)="removeItem(value.id)" class="cursor-pointer">
                        <i class="pi pi-trash"></i>
                    </div>
                </div>
            </ng-template>
            <ng-template slot="color" let-value="data">
                <div
                    [style.backgroundColor]="value.color"
                    class="w-6 h-6 rounded border border-gray-300"
                    [title]="value.color"
                ></div>
            </ng-template>
        </ng-datatable>
    </list-header>
</main-content>

<app-types-of-security-checkpoints-view
    [(visible)]="showDialog"
    [itemId]="selectedItemId"
    (onSave)="onDialogSave()"
/>
