<p-breadcrumb
    [model]="[
        { label: ('workFlow.securitySystems' | translate) },
        { label: ('workFlow.pathSettings' | translate) },
        { label: ('workFlow.ListWorkFlows' | translate) },
    ]"
/>
<main-content>
    <list-header
        addNewRecordLabel="{{ 'workFlow.addNew' | translate }}"
        tableTitle="{{ 'workFlow.List' | translate }}"
        [paginationInfo]="paginationInfo"
        (search)="onSearch($event)"
        (addNewRecord)="openCreateDialog()"
    >
        <ng-datatable
            [rows]="rows"
            [columns]="cols"
            [hasCheckbox]="true"
            [sortable]="false"
            [loading]="isLoading"
            [pagination]="true"
            [pageSize]="criteria.pageSize"
            rowClass="cursor-pointer"
            noDataContent="{{ 'common.noDataOnList' | translate }}"
        >
            <!-- isOptional app-->
            <ng-template slot="isOptinalApprover" let-value="data">
                <p-tag
                    value="{{
                        value.isOptinalApprove
                            ? ('common.optionalOption' | translate)
                            : ('common.requiredOption' | translate)
                    }}"
                    [severity]="value.isOptinalApprove ? 'success' : 'danger'"
                >
                </p-tag>
            </ng-template>
            <ng-template slot="actions" let-value="data">
                <div class="flex gap-2">
                    <div (click)="openEditDialog(value.id)" class="cursor-pointer">
                        <i class="pi pi-pencil"></i>
                    </div>
                    <div (click)="removeFieldSurvey(value.id)" class="cursor-pointer">
                        <i class="pi pi-trash"></i>
                    </div>
                </div>
            </ng-template>
        </ng-datatable>
    </list-header>
</main-content>

<app-process-approval-view
    [(visible)]="showDialog"
    [itemId]="selectedItemId"
    (onSave)="onDialogSave()"
/>
