/* Breadcrumb */
html[dir='rtl'] .p-breadcrumb-separator {
    transform: rotate(180deg);
}

.p-breadcrumb {
    padding-inline-start: 0px !important;
    padding-block-start: 0px !important;
    padding-top: 5px !important;
    background-color: transparent !important;
}

.p-icon {
    height: 0.7rem !important;
}

.p-breadcrumb-item-label {
    font-size: 1rem !important;
    cursor: pointer;
}

/* last breadcrumb item bold and primary color */
.p-breadcrumb-item:last-child .p-breadcrumb-item-label {
    font-weight: 500 !important;
    color: #0e8a8a !important;
}

.p-datatable-table thead th {
    background-color: #eaf3fa !important;
    font-weight: 700 !important;
}

.p-paginator-page {
    background-color: transparent !important;
}

.p-paginator-page.p-paginator-page-selected {
    @apply !bg-lightBlue;
}

.p-datepicker input {
    width: 100% !important;
}
