<p-breadcrumb
    [model]="[
        { label: ('GeneralSettings.securitySystems' | translate) },
        { label: ('GeneralSettings.generalSettings' | translate) },
        { label: ('GeneralSettings.settings' | translate) },
    ]"
/>
<main-content>
    <list-header
        addNewRecordLabel="{{ 'GeneralSettings.addNew' | translate }}"
        tableTitle="{{ 'GeneralSettings.new.list' | translate }}"
        [paginationInfo]="paginationInfo"
        (search)="onSearch($event)"
        (addNewRecord)="openCreateDialog()"
    />

    <ng-datatable
        [rows]="rows"
        [columns]="cols"
        [hasCheckbox]="true"
        [sortable]="false"
        [loading]="isLoading"
        [pagination]="true"
        [pageSize]="criteria.pageSize"
        rowClass="cursor-pointer"
        noDataContent="{{ 'common.noDataOnList' | translate }}"
    >
        <ng-template slot="actions" let-value="data">
            <div class="flex gap-2">
                <div (click)="openEditDialog(value.id)" class="cursor-pointer">
                    <i class="pi pi-pencil"></i>
                </div>
            </div>
        </ng-template>
    </ng-datatable>
</main-content>

<app-general-settings-view
    [(visible)]="showDialog"
    [itemId]="selectedItemId"
    (onSave)="onDialogSave()"
/>
