<p-breadcrumb
    [model]="[
        { label: ('breadcrumbs.securitySystems' | translate), routerLink: '/' },
        { label: ('globalSettings.globalSettings' | translate), routerLink: '/' },
        { label: ('users.userList' | translate) },
    ]"
/>

<main-content>
    <list-header
        addNewRecordLabel="{{ 'users.addNewUser' | translate }}"
        tableTitle="{{ 'users.userList' | translate }}"
        [paginationInfo]="paginationInfo"
        [pageNumber]="criteria.pageNumber"
        [pageSize]="criteria.pageSize"
        [totalCount]="criteria.totalCount ?? 0"
        (search)="onSearch($event)"
        (addNewRecord)="openCreateDialog()"
        (pageChange)="onPageChange($event)"
    >
        <ng-datatable
            [rows]="rows"
            [columns]="cols"
            [sortable]="false"
            [loading]="isLoading"
            [pagination]="true"
            [pageSize]="criteria.pageSize"
            noDataContent="{{ 'common.noDataOnList' | translate }}"
        >
            <ng-template slot="actions" let-value="data">
                <div class="flex items-center">
                    <div
                        (click)="openRoleDialog(value.id)"
                        class="cursor-pointer flex items-center gap-2 btn btn-primary btn-xs truncate"
                    >
                        <i class="pi pi-users"></i> الأدوار
                    </div>
                </div>
            </ng-template>
        </ng-datatable>
    </list-header>
</main-content>

<app-user-view [(visible)]="showDialog" [userId]="selectedUserId" (onSave)="onDialogSave()" />

<app-user-roles-dialog
    [(visible)]="showRolesDialog"
    [userId]="selectedUserIdForRoles"
    (onSave)="onRolesSave($event)"
/>
