<div>
    <ul class="flex space-x-2 rtl:space-x-reverse">
        <li>
            <a href="javascript:;" class="text-gray-500 text-lg font-semibold font-ibmPlexSansArabic hover:underline">
                {{ 'profile.labelInformation.settings' | translate }}
            </a>
        </li>
    </ul>

    <div class="grid grid-cols-1 gap-10 pt-8 xl:grid-cols-2">
        <div class="panel">
            <div class="mb-5 flex items-center justify-between">
                <h5 class="flex items-center text-lg font-semibold dark:text-white-light font-ibmPlexSansArabic">
                    <icon-bell-bing class="mr-2 w-5 h-5"></icon-bell-bing>

                    <span class="mx-2">{{ 'notification.labelInformation.notification' | translate }}</span>
                </h5>
            </div>
            <div class="mb-5">
                <label class="relative h-6 w-12">
                    <input type="checkbox" class="custom_switch peer absolute z-10 h-full w-full cursor-pointer opacity-0" id="custom_switch_checkbox4" />
                    <span
                        for="custom_switch_checkbox4"
                        class="block h-full rounded-full bg-[#ebedf2] before:absolute before:bottom-1 before:left-1 before:h-4 before:w-4 before:rounded-full before:bg-white before:transition-all before:duration-300 peer-checked:bg-primary peer-checked:before:left-7 dark:bg-dark dark:before:bg-white-dark dark:peer-checked:before:bg-white"
                    ></span>
                </label>
            </div>
        </div>
    </div>

    <div class="grid grid-cols-1 gap-10 pt-8 xl:grid-cols-2">
        <div class="panel">
            <div class="mb-5 flex items-center justify-between">
                <h5 class="flex items-center text-lg font-semibold dark:text-white-light font-ibmPlexSansArabic">
                    <icon-globe class="mr-2 w-5 h-5"></icon-globe>

                    <span class="mx-2">{{ 'settings.labelInformation.language' | translate }}</span>
                </h5>
            </div>
            <div class="mb-5">
                <div *ngIf="translate.currentLang === 'ar'">
                    <button
                        type="button"
                        class="mt-2 w-full text-right text-gray-500 dark:text-white-light hover:underline mx-4"
                        (click)="changeLanguage({ code: 'en', name: 'English' })"
                    >
                        <span class="font-ibmPlexSansArabic">English</span>
                    </button>
                </div>
                <div *ngIf="translate.currentLang === 'en'">
                    <button
                        type="button"
                        class="mt-2 w-full text-left text-gray-500 dark:text-white-light hover:underline"
                        (click)="changeLanguage({ code: 'ar', name: 'Arabic' })"
                    >
                        <span class="font-ibmPlexSansArabic">العربية</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="grid grid-cols-1 gap-10 pt-8 xl:grid-cols-2">
        <div class="panel">
            <div class="mb-5">
                <div class="mb-5 flex items-center justify-between">
                    <h5 class="flex items-center text-lg font-semibold dark:text-white-light font-ibmPlexSansArabic">
                        <icon-phone></icon-phone>
                        <span class="mx-2 font-ibmPlexSansArabic">{{ 'settings.labelInformation.contact' | translate }}</span>
                    </h5>
                </div>
                <div class="p-4">
                    <div class="card bg-grayBg border border-[#ebedf2] dark:border-[#1b2e4b] rounded-lg shadow-md mb-4">
                        <div class="flex items-start justify-between py-3">
                            <h6 class="text-[15px] font-bold text-[#515365] dark:text-white-dark mx-2 font-ibmPlexSansArabic">
                                {{ 'settings.labelInformation.phone' | translate }}
                            </h6>
                            <div class="flex items-start justify-between ltr:ml-auto rtl:mr-auto mx-2">
                                <span>0651405679</span>
                            </div>
                        </div>
                    </div>

                    <div class="card bg-grayBg border border-[#ebedf2] dark:border-[#1b2e4b] rounded-lg shadow-md mb-4">
                        <div class="flex items-start justify-between py-3">
                            <h6 class="text-[15px] font-bold text-[#515365] dark:text-white-dark mx-2 font-ibmPlexSansArabic">
                                {{ 'settings.labelInformation.fax' | translate }}
                            </h6>
                            <div class="flex items-start justify-between ltr:ml-auto rtl:mr-auto mx-2">
                                <span>0651405679</span>
                            </div>
                        </div>
                    </div>

                    <div class="card bg-grayBg border border-[#ebedf2] dark:border-[#1b2e4b] rounded-lg shadow-md mb-4">
                        <div class="flex items-start justify-between py-3">
                            <h6 class="text-[15px] font-bold text-[#515365] dark:text-white-dark mx-2 font-ibmPlexSansArabic">
                                {{ 'settings.labelInformation.fax' | translate }}
                            </h6>
                            <div class="flex items-start justify-between ltr:ml-auto rtl:mr-auto mx-2">
                                <span>0651405679</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
