<ngx-custom-modal #modal>
    <ng-template #modalHeader>
        <div>{{ title | translate }}</div>
    </ng-template>
    <ng-template #modalBody>
        <div>
            <label>{{ message | translate }}</label>
        </div>
        <div
            *ngIf="optionalNote !== ''"
            class="bg-info-light p-3 rounded mb-5"
            role="alert"
            aria-live="polite"
        >
            <span class="flex items-center">
                <i class="fa fa-info-circle ltr:mr-2 rtl:ml-2 text-info"></i>
                <span>{{ optionalNote | translate }}</span>
            </span>
        </div>
    </ng-template>
    <ng-template #modalFooter>
        <button
            type="button"
            (click)="closeModal(true)"
            class="btn btn-sm btn-primary"
        >
            {{ 'modal.button.yes' | translate }}
        </button>
        <button
            type="button"
            (click)="closeModal(false)"
            class="btn btn-sm btn-outline-danger ltr:ml-4 rtl:mr-4"
        >
            {{ 'modal.button.no' | translate }}
        </button>
    </ng-template>
</ngx-custom-modal>
