<div [ngClass]="{ 'dark text-white-dark': semidark() }">
    <nav
        class="sidebar flex flex-col fixed h-[calc(100vh-110px)] lg:h-[calc(100vh-110px)] bottom-0 top-0 lg:top-[75px] m-6 z-50 w-[292px] transition-all duration-300"
    >
        <div class="flex flex-col h-full justify-between gap-4">
            <div
                class="relative flex flex-col rounded-2.5 border border-[#C3CAD980] bg-gradient-to-b from-[#0E8A8A] to-[#016565] overflow-hidden"
                [style.maxHeight]="isCollapsed ? '70px' : '400px'"
                style="transition: max-height 0.3s ease"
            >
                <div class="flex flex-col p-4">
                    <div class="menu-actions flex items-center justify-between">
                        <a
                            class="flex items-center justify-center cursor-pointer size-10 bg-primary rounded-full shadow-action-shadow"
                            (click)="logout()"
                        >
                            <i class="pi pi-sign-out text-white"></i>
                        </a>
                        <div
                            class="user-image rounded-full size-[40px] border-4 border-primary-light p-0.5 relative"
                            style="transition: opacity 0.3s ease"
                            [style.opacity]="isCollapsed ? 1 : 0"
                        >
                            <img src="assets/images/avatar-user.png" alt="Logo" />
                        </div>
                        <a
                            (click)="toggleUserCard()"
                            class="flex items-center justify-center cursor-pointer size-10 bg-primary rounded-full shadow-action-shadow"
                        >
                            <i
                                [class]="isCollapsed ? 'pi pi-angle-down' : 'pi pi-angle-up'"
                                class="cursor-pointer text-white"
                            ></i>
                        </a>
                    </div>
                    <div
                        class="relative flex justify-center items-center"
                        style="transition: opacity 0.3s ease"
                        [style.opacity]="isCollapsed ? 0 : 1"
                    >
                        <!-- User Info -->
                        <div
                            class="user-image rounded-full size-[130px] border-4 border-primary-light p-0.5 relative"
                        >
                            <img src="assets/images/avatar-user.png" alt="Logo" />
                        </div>
                    </div>

                    <div
                        class="user-text text-center text-white mt-4"
                        style="transition: opacity 0.3s ease"
                        [style.opacity]="isCollapsed ? 0 : 1"
                    >
                        <h4 class="text-xl font-medium text-white">
                            {{'فهد محمد عبد الله' | translate }}
                        </h4>
                        <h3 class="font-medium text-white">{{'مختص الاجازات' | translate }}</h3>
                    </div>
                </div>
            </div>

            <div
                class="flex flex-col flex-1 rounded-2.5 pb-6 border border-[#C3CAD980] bg-white dark:bg-[#0e1726] overflow-y-auto"
            >
                <h2 class="p-3 w-full flex justify-center gap-2 font-bold">
                    <img src="assets/images/icons/home-image.svg" alt="" />
                    الإدارة العامة لحماية المنشآت
                </h2>
                <div class="menu-list">
                    <div *ngFor="let item of treeNodes" class="menu-item">
                        <!-- Parent Item -->
                        <div
                            class="flex items-center justify-between px-4 py-3 cursor-pointer hover:bg-gray-50 dark:hover:bg-[#1b2e4b] border-b border-[#C3CAD980]"
                            (click)="toggleMenuItem(item.key!)"
                        >
                            <div class="flex items-center gap-3 py-2">
                                <!-- <i [class]="item.icon" class="text-primary text-lg"></i> -->
                                <img [src]="item.icon" alt="" />
                                <span class="font-medium text-gray-700 dark:text-white-dark">
                                    {{ item.label }}
                                </span>
                            </div>
                            <i
                                [class]="isExpanded(item.key!) ? 'pi pi-angle-up' : 'pi pi-angle-down'"
                                class="text-gray-500 dark:text-white-dark transition-transform"
                            ></i>
                        </div>

                        <!-- Children Items -->
                        <div
                            *ngIf="isExpanded(item.key!)"
                            class="bg-gray-50 dark:bg-[#0e1726]"
                            [@slideDownUp]
                        >
                            <div
                                *ngFor="let child of item.children"
                                [routerLink]="child.routerLink"
                                routerLinkActive="bg-primary  text-white hover:bg-primary"
                                class="flex items-center gap-3 px-4 py-3 ps-12 cursor-pointer hover:bg-gray-100 dark:hover:bg-[#1b2e4b] border-b border-[#C3CAD980]"
                            >
                                <i [class]="child.icon"></i>
                                <span> {{ child.label }} </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
