<!-- base-datatable.component.html -->
<div class="datatable-container rounded-lg shadow-sm">
    <!-- add new record button -->
    @if (showAddNewRecordButton && !showCustomToolbar) {
        <a
            class="btn btn-success btn-sm mb-2 p-2 flex items-center gap-2 cursor-pointer"
            (click)="emitAddNewRecord()"
        >
            <i class="pi pi-plus"></i>
            {{ addNewRecordLabel }}
        </a>
    }
    <!-- Custom Toolbar -->
    @if (showCustomToolbar) {
        <div
            class="flex justify-between items-center bg-white border-b p-2 mb-2 rounded-t-lg"
        >
            @if (showAddNewRecordButton && showCustomToolbar) {
                <a
                    class="btn btn-success btn-sm p-2 flex items-center gap-2 cursor-pointer"
                    (click)="emitAddNewRecord()"
                >
                    <i class="pi pi-plus"></i>
                    {{ addNewRecordLabel }}
                </a>
            }

            <div class="flex gap-2">
                <div class="relative w-full max-w-md flex items-center">
                    <!-- Search Icon -->
                    <i class="pi pi-search absolute start-2"></i>

                    <!-- Input -->
                    <input
                        [(ngModel)]="filterEvent.searchTerm"
                        id="datatable-container-search"
                        type="text"
                        placeholder="بحث..."
                        class="w-full rounded-lg border border-gray-300 bg-white py-2 pr-10 pl-10 text-sm text-gray-700 placeholder-gray-400 focus:border-blue-500 focus:outline-none focus:ring-1 focus:ring-blue-500"
                    />

                    <!-- Heroicons X -->
                    <i
                        class="pi pi-times text-lg absolute end-2 cursor-pointer hover:text-red-600"
                        (click)="clearSearch()"
                    ></i>
                </div>
                <button class="btn btn-primary btn-sm" (click)="emitSearch()">
                    بحث
                </button>
            </div>
        </div>
    }

    <div class="flex items-center w-full justify-end p-3 px-4 bg-white">
        <div class="text-sm text-gray-600">
            {{ getRangeLabel() }}
        </div>
    </div>

    <p-table
        [value]="value"
        [rows]="filterEvent.pageSize"
        [totalRecords]="totalRecords"
        [lazy]="lazy"
        [loading]="loading"
        [selectionMode]="selectionMode"
        [globalFilterFields]="globalFilterFields"
        dataKey="id"
        stripedRows
        (onLazyLoad)="onLazyLoad($event)"
    >
        <!-- Header -->
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let col of columns" [style.width]="col.width">
                    {{ col.label | translate }}
                </th>
            </tr>
        </ng-template>

        <!-- Body -->
        <ng-template pTemplate="body" let-row>
            <tr class="cursor-pointer" (click)="onRowClick(row)">
                <td *ngFor="let col of columns">
                    <ng-container
                        *ngIf="templateMap.get(col.field); else default"
                    >
                        <ng-container
                            [ngTemplateOutlet]="templateMap.get(col.field)"
                            [ngTemplateOutletContext]="{
                                $implicit: row,
                                col: col,
                                value: row[col.field],
                            }"
                        ></ng-container>
                    </ng-container>
                    <ng-template #default>
                        {{
                            col.formatter
                                ? col.formatter(row[col.field], row)
                                : row[col.field]
                        }}
                    </ng-template>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-paginator
        [first]="1"
        [rows]="filterEvent.pageSize"
        [totalRecords]="totalRecords"
        [rowsPerPageOptions]="[5, 10, 20, 30]"
        (onPageChange)="onPageChange($event)"
    ></p-paginator>
</div>
