<ng-container class="profile-picture-image-container">
    <img
        *ngIf="!isLoading || imageSrc !== ''"
        [ngClass]="{
            'rounded-full': true,
            'mx-auto h-20 w-20 object-cover md:h-32 md:w-32 rounded-md': isProfile,
            'size-8 border border-gold flex-none bg-gray-50': isSmall,
            'ring-2 ring-white dark:ring-white-dark w-32 h-32': isSidebar,
        }"
        [title]="isLoading ? 'Loading...' : fullName || 'Profile Image'"
        [src]="imageSrc"
        alt=""
        (mouseenter)="showAddPhotoOverlay = true"
    />
</ng-container>

<div
    class="profile-picture-overlay"
    *ngIf="isLoading"
    [ngClass]="{
        'rounded-full': true,
        'mx-auto h-20 w-20 object-cover md:h-32 md:w-32 rounded-md': isProfile,
        'size-8 border border-gold flex-none bg-gray-50': isSmall,
        'ring-2 ring-white dark:ring-white-dark w-32 h-32': isSidebar,
    }"
    [title]="'Loading'"
></div>
<div
    *ngIf="!isLoading && hasError && imageSrc == ''"
    [ngClass]="{
        'rounded-full': true,
        'mx-auto h-20 w-20 object-cover md:h-32 md:w-32 rounded-md': isProfile,
        'size-8 border border-gold flex-none bg-gray-50': isSmall,
        'ring-2 ring-white dark:ring-white-dark w-32 h-32': isSidebar,
    }"
    [title]="'No Picture'"
></div>

<div
    *ngIf="isSidebar"
    class="absolute flex items-center justify-center size-10 bg-gold dark:bg-[#121e32] rounded-full top-1/2 -translate-y-1/2 -left-5"
    (click)="fileInput.click()"
    style="cursor: pointer"
    [title]="'changeProfileImage' | translate"
>
    <icon-edit class="text-white h-6 w-6" />
</div>
<input type="file" #fileInput (change)="onSelectFile($event)" accept="image/*" class="hidden" />

<!-- Toggle Button -->
<div
    *ngIf="showVisibility && isSidebar"
    class="absolute flex items-center justify-center size-10 bg-gold rounded-full top-1/2 -translate-y-1/2 -right-5"
    (click)="toggleProfilePictureVisibility()"
    style="cursor: pointer"
    title="{{ (!showProfileImage ? 'hideProfileImage' : 'showProfileImage') | translate }}"
>
    <icon-gallery class="text-white h-6 w-6" />
</div>
