<div class="h-screen flex">
    <!-- Right side: Login Form -->
    <div class="w-full flex items-center justify-center p-8">
        <div
            class="max-w-md w-full space-y-6 bg-white/80 backdrop-blur-xs p-6 rounded-xl shadow-lg"
        >
            <div class="flex justify-center">
                <img src="assets/images/logo.png" alt="Logo" style="height: 111px; width: 109px" />
            </div>

            <div class="flex justify-center">
                <h2
                    class="text-3xl font-extrabold text-center text-gray-900 font-ibmPlexSansArabic"
                >
                    {{ 'auth.login' | translate }}
                </h2>
            </div>

            <form [formGroup]="loginForm" (ngSubmit)="submit()" class="space-y-4">
                <!-- add input for username -->
                <div class="flex flex-col">
                    <div class="relative flex justify-center items-center">
                        <input
                            id="identityNumber"
                            type="number"
                            formControlName="identityNumber"
                            class="block w-full px-3 py-2 border rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 font-ibmPlexSansArabic"
                            [placeholder]="'users.identityNumber' | translate"
                        />

                        <i class="pi pi-id-card absolute end-3"></i>
                    </div>
                    <div
                        *ngIf="
                            loginForm.get('identityNumber')?.invalid &&
                            (loginForm.get('identityNumber')?.dirty ||
                                loginForm.get('identityNumber')?.touched)
                        "
                        class="text-red-500 text-sm mt-1"
                    >
                        <span *ngIf="loginForm.get('identityNumber')?.errors?.['required']">
                            {{ 'common.required' | translate }}
                        </span>
                        <span *ngIf="loginForm.get('identityNumber')?.errors?.['pattern']">
                            {{ 'users.identityNumberMustBe10Digits' | translate }}
                        </span>
                    </div>
                </div>

                <div class="relative flex items-center">
                    <!-- Password Input -->
                    <input
                        id="password"
                        [type]="showPassword ? 'text' : 'password'"
                        formControlName="password"
                        class="block w-full px-3 py-2 border rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 font-ibmPlexSansArabic"
                        [placeholder]="'auth.password' | translate"
                    />

                    <i
                        class="absolute h-fit end-3 cursor-pointer"
                        (click)="togglePasswordVisibility()"
                        [ngClass]="showPassword ? 'pi pi-eye' : 'pi pi-eye-slash'"
                    ></i>
                </div>

                <div class="flex justify-between">
                    <!-- checkbox still logged in -->
                    <label class="inline-flex gap-2 items-center font-ibmPlexSansArabic">
                        <input
                            type="checkbox"
                            formControlName="rememberMe"
                            class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded"
                        />
                        <span class="ml-2 text-gray-500">
                            {{ 'auth.rememberMe' | translate }}
                        </span>
                    </label>
                    <a
                        class="text-sm text-gray-500 hover:underline font-ibmPlexSansArabic"
                        routerLink="/auth/forgot-password"
                    >
                        {{ 'auth.forgetPassword' | translate }}
                    </a>
                </div>

                <button
                    [disabled]="loginForm.invalid || isLoading"
                    type="submit"
                    class="w-full btn btn-primary font-medium py-2 px-4 rounded-md shadow-sm font-ibmPlexSansArabic flex justify-center items-center"
                >
                    <ng-container *ngIf="!isLoading">
                        {{ 'auth.login' | translate }}
                    </ng-container>
                    <ng-container *ngIf="isLoading">
                        <span class="mx-2">{{ 'auth.login' | translate }}</span>
                        <svg
                            class="animate-spin h-5 w-5 text-white"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                        >
                            <circle
                                class="opacity-25"
                                cx="12"
                                cy="12"
                                r="10"
                                stroke="currentColor"
                                stroke-width="4"
                            ></circle>
                            <path
                                class="opacity-75"
                                fill="currentColor"
                                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4z"
                            ></path>
                        </svg>
                    </ng-container>
                </button>
            </form>
        </div>
    </div>

    <div class="flex justify-end items-center absolute top-4 left-4 right-4 z-10">
        <button
            (click)="toggleLanguage()"
            class="text-sm text-gray-700 hover:underline font-ibmPlexSansArabic"
        >
            {{ isArabeMode() ? 'English' : 'عربي' }}
        </button>
    </div>
</div>
