<p-dialog
    [(visible)]="visible"
    [header]="
        isEditMode ? ('GeneralSettings.edit' | translate) : ('GeneralSettings.addNew' | translate)
    "
    [modal]="true"
    [style]="{ width: '50vw' }"
    [breakpoints]="{ '960px': '75vw', '640px': '90vw' }"
    (onHide)="closeDialog()"
>
    <form [formGroup]="form" (ngSubmit)="submit()" class="space-y-6">
        <!-- Name in Arabic -->
        <div class="form-group">
            <label for="key" class="block text-sm font-medium mb-2">
                {{ 'GeneralSettings.key' | translate }}
                <span class="text-red-500">*</span>
            </label>
            <input
                id="key"
                type="text"
                formControlName="key"
                pInputText
                class="w-full"
                [placeholder]="'GeneralSettings.enterKey' | translate"
                [disabled]="isEditMode"
            />
            <small
                *ngIf="
                    form.get('key')?.invalid && (form.get('key')?.dirty || form.get('key')?.touched)
                "
                class="text-red-500"
            >
                <span *ngIf="form.get('key')?.errors?.['required']">
                    {{ 'messages.requiredField' | translate }}
                </span>
            </small>
        </div>

        <!-- value in Arabic -->
        <div class="form-group">
            <label for="value" class="block text-sm font-medium mb-2">
                {{ 'GeneralSettings.Procedure' | translate }}
            </label>
            <input
                id="Value"
                type="text"
                formControlName="value"
                pInputText
                class="w-full"
                [placeholder]="'GeneralSettings.enterProcedure' | translate"
            />
        </div>

        <button
            type="button"
            pButton
            pRipple
            [label]="'GeneralSettings.cancel' | translate"
            icon="pi pi-times"
            class="p-button-text"
            (click)="closeDialog()"
        ></button>
        <button
            type="submit"
            pButton
            pRipple
            [label]="'GeneralSettings.save' | translate"
            icon="pi pi-check"
            [loading]="isLoading"
            [disabled]="form.invalid || isLoading"
        ></button>
    </form>
</p-dialog>
