<p-confirmDialog></p-confirmDialog>

<p-breadcrumb
    [model]="[
        { label: ('breadcrumbs.securitySystems' | translate) },
        { label: ('breadcrumbs.generalAdministration' | translate) },
        { label: ('breadcrumbs.fieldSurveyAdmin' | translate) },
        { label: ('breadcrumbs.provinces' | translate) },
    ]"
/>

<main-content>
    <list-header
        addNewRecordLabel="{{ 'province.addNewProvince' | translate }}"
        tableTitle="{{ 'province.provinceList' | translate }}"
        [paginationInfo]="paginationInfo"
        (search)="onSearch($event)"
        (addNewRecord)="openCreateDialog()"
    />

    <ng-datatable
        [rows]="rows"
        [columns]="cols"
        [hasCheckbox]="true"
        [sortable]="false"
        [loading]="isLoading"
        [pagination]="true"
        [pageSize]="criteria.pageSize"
        rowClass="cursor-pointer"
        noDataContent="{{ 'common.noDataOnList' | translate }}"
    >
        <ng-template slot="actions" let-value="data">
            <div class="flex gap-2">
                <div (click)="openEditDialog(value.id)" class="cursor-pointer">
                    <i class="pi pi-pencil"></i>
                </div>
                <div (click)="removeProvince(value.id, value.nameAr)" class="cursor-pointer">
                    <i class="pi pi-trash"></i>
                </div>
            </div>
        </ng-template>
    </ng-datatable>
</main-content>

<app-province-view
    [(visible)]="showDialog"
    [provinceId]="selectedProvinceId"
    (onSave)="onDialogSave()"
/>
