<app-entity-classfications-view
    [(visible)]="showDialog"
    [entityId]="selectedEntityId"
    (saved)="onDialogSaved()"
/>

<p-breadcrumb
    [model]="[
        { label: ('breadcrumbs.securitySystems' | translate), routerLink: '/' },
        { label: ('breadcrumbs.generalAdministration' | translate), routerLink: '/' },
        { label: ('entityClassification.entityClassificationList' | translate) },
    ]"
/>

<main-content>
    <list-header
        addNewRecordLabel="{{ 'entityClassification.addNewEntityClassification' | translate }}"
        tableTitle="{{ 'entityClassification.entityClassificationList' | translate }}"
        [paginationInfo]="paginationInfo"
        [pageNumber]="criteria.pageNumber"
        [pageSize]="criteria.pageSize"
        [totalCount]="criteria.totalCount ?? 0"
        (search)="onSearch($event)"
        (addNewRecord)="openCreateDialog()"
        (pageChange)="onPageChange($event)"
    >
        <ng-datatable
            [rows]="rows"
            [columns]="cols"
            [sortable]="false"
            [loading]="isLoading"
            [pagination]="true"
            [pageSize]="criteria.pageSize"
            noDataContent="{{ 'common.noDataOnList' | translate }}"
        >
            <ng-template slot="actions" let-value="data">
                <div class="flex gap-2">
                    <div (click)="openTree(value.id)">
                        <i class="pi pi-list"></i>
                    </div>
                    <div (click)="openEditDialog(value.id)" class="cursor-pointer">
                        <i class="pi pi-pencil"></i>
                    </div>
                    <div
                        (click)="removeEntityClassification(value.id, value.nameAr)"
                        class="cursor-pointer"
                    >
                        <i class="pi pi-trash"></i>
                    </div>
                </div>
            </ng-template>
        </ng-datatable>
    </list-header>
</main-content>
